.preloaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: auto;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.preloader {
  width: 10vw;
  min-width: 100px;
  height: auto;
  animation: spin 4s linear infinite;
  margin: 10%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
