footer {
  text-align: center;
  flex: 10%;
  display: block;
  position: relative;
  background-color: #47b1fb;
  color: white;
}

.houses {
  width: 100%;
  height: 100%;
  background-image: url("../../../../public/houses-1024w.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center bottom;
  min-height: 25vh;
}

.footer-content {
  width: 100%;
  height: 100%;
  padding: 5vh;
  background-color: #585a5c;
}

.icon {
  vertical-align: middle;
}
