header {
  text-align: center;
  background: black;
  z-index: 1;
  width: 100%;
  position: relative;
  min-width: 320px;
}

#title {
  font-family: "REBOARD";
  color: #fb4848;
  font-size: max(10vw, 24pt);
  -webkit-text-stroke-width: 0.4vw;
  -webkit-text-stroke-color: #870000;
  position: relative;
  z-index: 3;
  margin: auto;
  letter-spacing: 1vw;
  animation: rubberBand;
  animation-duration: 1s;
  --animate-delay: 0.9s;
  background-image: url(../../../../public/gear.png),
    url(../../../../public/gear.png);
  background-position: 20% 85%, 32% 20%;
  background-repeat: no-repeat;
  background-size: 14vw auto, 8vw auto;
}

.navBar {
  border-width: 5px 0;
  border-color: #47b1fb;
  margin-top: 16px;
}

.navlinks {
  display: "flex";
  justify-content: "center";
  width: "100%";
  align-items: "center";
}

@keyframes rotateCog {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
