header {
  text-align: center;
  flex: 20%;
  background: black;
  z-index: 1;
  width: 100%;
}

.logo {
  margin: 10px auto 0 auto;
  padding: 20px;
  animation: rubberBand;
  animation-duration: 2s;
  --animate-delay: 0.9s;
}

.navBar {
  border-width: 5px 0;
  border-color: #47b1fb;
}

.navlinks {
  display: "flex";
  justify-content: "center";
  width: "100%";
  align-items: "center";
}
