#content {
  flex: 70%;

  background: rgb(71, 177, 251);
  background: linear-gradient(
    0deg,
    rgba(71, 177, 251, 1) 98%,
    rgba(249, 251, 252, 1) 100%
  );
  padding-top: 2vh;
}

#main {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
